
h1 {
    color: black;
    text-align: center;

}

.food-picture {
    height: auto;
    width: 500px;

}

body {
    background-color: antiquewhite;
    
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
  }
  

ol {
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
    list-style-image: none;
  }