
h1 {
    color: black;
    text-align: center;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: gold;

}

.flex-container{
    display: flex;
    justify-content: center;
}
.flex-container div{
    margin: 4em;
    width: 100px;
    flex: 1; 

}

.food-picture-index {
    height: auto;
    width: 200px;

}

.food-picture {

    height: auto;
    width: 500px;

}

body {
    background-color: salmon;
    
}




